<!DOCTYPE html>
<style>
    .jumbotron {
        background-color: #454545;
    }

        .jumbotron .container { z-index: 2; position: relative; background-size: cover; height: 100%; width: 100%; }
    video {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        overflow : hidden;
    }
    body {
        background-image: url(/images/libraryv2.jpg);
    }
</style>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SeniorLibrary</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/uicons-regular-rounded.css" rel="stylesheet">
</head>
<body class="jumbotron-fluid jumbotron">
    
    
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-4 fixed-top">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Requests/Index">SeniorLibrary</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index"><i class="fi-rr-home"></i>Home</a>
                        </li>
                        @* TEST
            <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Test/Index">Test</a>
        </li>
                        *@

                        @if (User.Identity.IsAuthenticated)
                        {

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Requests/Index"><i class="fi-rr-document-signed"></i>Request book</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="http://localhost:8383/greenstone3/library/collection/demofors/browse/CL2"><i class="fi-rr-search"></i>Browse</a>
                            </li>

                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Roles/Index"><i class="fi-rr-user"></i>Roles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/UserRoles/Index"><i class="fi-rr-users"></i>Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Upload/Index"><i class="fi-rr-cloud-upload"></i>Upload</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Download/Index"><i class="fi-rr-cloud-download"></i>Download</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Stats/Index"><i class="fi-rr-stats"></i>Stats</a>
                            </li>
                        }
                        @if (User.IsInRole("Lecturer"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Upload/Index"><i class="fi-rr-cloud-upload"></i>Upload</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Download/Index"><i class="fi-rr-cloud-download"></i>Download</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Stats/Index"><i class="fi-rr-stats"></i>Stats</a>
                            </li>
                        }
                        @if (User.IsInRole("Staff"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Upload/Index"><i class="fi-rr-cloud-upload"></i>Upload</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Download/Index"><i class="fi-rr-cloud-download"></i>Download</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Stats/Index"><i class="fi-rr-stats"></i>Stats</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container embed-responsive">
        <main role="main">
            <div>
                <div class="container">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted fixed-bottom" style="background-color:white">
        <div class="container">
            &copy; 2564 - SeniorLibrary @*- <a asp-area="" asp-page="/Privacy">Privacy</a>*@
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
@*<script>
    function backgroundVideo() {

        $("video source").each(function () {
            var sourceFile = $(this).attr("data-src");
            $(this).attr("src", sourceFile);
            var video = this.parentElement;
            video.load();
        });

    }
    window.onload = backgroundVideo;
</script>*@
