@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="display-4" style="display:flex; justify-content:center; flex-direction:column;height:400px">
        <h1 style="text-align:center">
            Welcome <br />
            to <br />
            SeniorLibrary
        </h1>
</div>
