@page
@model SeniorLibrary.Pages.Upload.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Upload Document</h1>
@if (Request.Query["msg"] == "error")
{
    <h3 style="color:red"> ERROR : Document already exists in the database</h3>
}
<div class="row">
    <div class="col-md-5">
        <form method="post" enctype="multipart/form-data" asp-action="Index">
            <div class="form-group">
                <div class="col-md-5">
                    <label asp-for="Book.Advisor" class="control-label">Document Advisor</label>
                    <input asp-for="Book.Advisor" class="form-control" />
                    <span asp-validation-for="Book.Advisor" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input class="form-control" name="files" type="file" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input class="btn btn-success" type="submit" value="Upload" />
                </div>
            </div>
        </form>
    </div>
</div> 