@page
@model SeniorLibrary.Pages.Roles.IndexModel
@{
    ViewData["Title"] = "Roles";
}
<h1>Role</h1>
<!--<form method="post" asp-action="AddRole">
    <div class="input-group">
        <input name="roleName" class="form-control w-25"  required="required">
        <span class="input-group-btn">
            <button class="btn btn-info">Add New Role</button>
        </span>
    </div>
</form>-->
<table class="table table-striped" style="background-color:white">
    <thead>
        <tr>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model.roles)
        {
        <tr>
            <td>@role.Name</td>

        </tr>
        }
    </tbody>
</table>